@import './../../assets/styles/toRem';

.betNum {
  margin: 0 rem(7px) rem(7px) 0;
  width: calc(100% / 10 - rem(63px) / 10);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: rem(10px);
  overflow: hidden;
  background-image: linear-gradient( 0deg, rgb(60,44,74) 0%, rgb(45,36,53) 32%, rgb(70,56,82) 100%);
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.15);
  font-size: rem(33px);
  font-weight: 700;
  color: var(--color-border);


  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &:nth-child(10n + 10) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 10) {
    margin-bottom: 0;
  }

  &.active {
    color: var(--color-text6);
    background-image: url('./../../assets/images/bet/border.png'), linear-gradient( 180deg, rgb(60,44,74) 0%, rgb(84, 65, 102) 32%, rgb(70,56,82) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 83% 83%, 100% 100%;
  }

  &.hot, &.cold {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: -2px;
      right: -2px;
      width: rem(30px);
      height: rem(30px);
      clip-path: polygon(100% 0, 0 0, 100% 100%);
    }
  }

  &.cold::after {
    background-color: var(--color-cold);
  }

  &.hot::after {
    background-color: var(--color-hot);
  }
}

